* {
	margin: 0;
	font-family: sans-serif, Arial, Helvetica;
	box-sizing: border-box;
}



.banner {
	background-image: url(https://t4.ftcdn.net/jpg/02/18/18/55/360_F_218185587_P4zituDtWJOfClUKL6merI0BgLMIxoeC.jpg);
	text-align: center;
	padding: 2em;
	font-size: xx-large;
	color: white;
}


nav {
	overflow: hidden;
  background-color: #333;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.logo img{
	float: left;
	width: 60px;
	height: 60px;
}


.menu li {
	float: left;
	list-style-type: none;
  background-color: #333;
  width: 15%;
}

.menu a {
  display: block;
  color: white;
  text-align: center;
  padding: 0.5em 1em;
  text-decoration: none;
  font-size: 1.7em;
}

.menu a:hover {
	color: #111;
}

.active {
	background-color: #4CAF50;
}


h1 {
	text-align: center;
	border: 0.7em ridge #7BA5E4;
	border-radius: 1.25em;
	width: 50%;
	margin: auto;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}


h2 {
	border-left: 6px solid #ccc;
	border-color: #2196F3;
	padding: 0.1em 1.25em;
	background-color: #ddffff;
	width: 30%;
	margin:0.5em 0em 0.5em;
	font-size: 1.5em;
}

footer {
	display: flex;
	text-align: center;
	background-color: #5C8DE1;
}

footer h5 {
	font-weight: bold;
	text-decoration: underline;
	font-size: 1.25em;
}

.contacts, .categories, .quick_links {
	width: 33%;
	margin-top: 1em;
}

.categories ul, .quick_links ul {
 	display: inline-block;
 }

#addres {
 	font-family: cursive;
 	color: #77F988;
 }

iframe {
 	border: 0.3em solid black;
 	border-radius: 0.6em;
}

#me img{
	display: flex;
}

a[href] {
	font-style: italic;
}

selector:pseudo-class {
  property: value;
}

footer a:link {
	color: red;
}

footer a:visited {
  color: green;
}

footer a:hover {
  color: hotpink;
}
footer a:active {
	color: blue;
}

#red {
	text-decoration: underline;
	text-transform: uppercase;
	text-align: center;
	padding: 1.9em;
	text-shadow: 2px 2px 5px red;
}

#deadline {
	text-align: center;
	border: 0.9em solid red;
	width: 30%;
	margin: auto;
	font-weight: bold;
}

#deadline > ul {
	display: inline-block;
}

.rdcontent {
	font-family: "Times New Roman", Times, serif;
}

.rdcontent p {
	text-indent: 3e.m;
}

.rdcontent h4 {
	text-align: center;
}





.f-container {
	display: flex;
	flex-direction: row;
}
	
.f-container>div {
	margin: 1em;
	padding: 0.5em;
}

#dummy {
	text-align: center;
	margin-top: 2em;
}

@media only screen and (max-width: 40em) {
	body {
		background-color: yellow;
		font-size: 0.53em;
	}
	.myimage, .nature {
		width: 100%;
		height: 100%;
	}
	.f-container {
		flex-direction: column;
	}
	h1 {
		font-size: 1.5em;
	}
	.menu a {
		font-size: 1em;
		padding: 0.5em 1em;
	}
	.logo img{
		width: 1.9em;
		height: 1.9em;
	}
	.banner {
		padding: 0.5em;
		font-size: 1em;
	}
	h2 {
		font-size: 1em;
	}
	.f-container {
		display: flex;
		flex-direction: column;
	}
	#deadline {
		text-align: center;
		border: 0.9em solid red;
		width: 70%;
		margin: auto;
		font-weight: bold;
	}
	iframe {
		width: 10em;
	}

	.container {
		display: none;
		
	}

}


@media only screen and (min-width: 40.1em) {
	body {
		background-color: green;
	}
	.menu a {
		font-size: 0.9em;
		padding: 0.6em;
	}	
	.logo img{
		width: 1.9em;
		height: 1.9em;
	}
	.banner {
		padding: 0.8em;
		font-size: 1.4em;
	}
}

@media only screen and (min-width: 75em) {
	body {
		background-color: rgba(255, 255, 255, 0.8);
	}
	.menu a {
		font-size: 1.7em;
		padding: 0.7em 1em;

	}	
	.logo img{
		width: 4em;
		height: 4em;
	}
	.banner {
		padding: 2em;
		font-size: xx-large;
	}
}

.container {
	display: grid;
	grid-template-columns: 100%;
	gap: 1em;
  padding: 0.5em;
}

.container>div {
	background-color: #B0CDF9;
  padding: 0.3em 0 0 0.3em;
  border: 0.7em solid #B0CDF9;
	border-radius: 1.25em;
	box-shadow: 0.2em 0.5em #888888
}