body {
	margin: 0;
	padding: 0;
	background-color: #B0CDF9;
	font-family: sans-serif, Arial, Helvetica;
}



.banner {
	background-image: url(https://t4.ftcdn.net/jpg/02/18/18/55/360_F_218185587_P4zituDtWJOfClUKL6merI0BgLMIxoeC.jpg);
	text-align: center;
	padding: 30px;
	font-size: 30px;
	color: white;
}


nav {
  	overflow: hidden;
  	background-color: #333;
  	position: -webkit-sticky;
  	position: sticky;
  	top: 0;
}

.logo {
	float: right;

}

.menu li {
  float: left;
	list-style-type: none;
  background-color: #333;
}

.menu a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;

}

.menu a:hover {
	color: #111;
}

.active {
	background-color: #4CAF50;
}

h1 {
	text-align: center;
	border: 10px ridge #7BA5E4;
	border-radius: 20px;
	width: 50%;
	margin: auto;
}

#task p {
	display: flex;
	align-items: center;
}

h2 {
	border-left: 6px solid #ccc;
	border-color: #2196F3;
	padding: 0.01em 16px;
	background-color: #ddffff;
	width: 30%;
}

footer {
	display: flex;
	text-align: center;
	background-color: #5C8DE1;
}

footer h5 {
	font-weight: bold;
	text-decoration: underline;
	font-size: 20px;
}

.contacts, .categories, .quick_links {
	width: 33%;
}

.categories ul, .quick_links ul {
 	display: inline-block;
 }

 #addres {
 	font-family: cursive;
 	color: #77F988;
 }

 iframe {
 	border: 5px solid black;
 	border-radius: 10px;
 }

#me img{
	display: flex;
 }

a[href] {
	font-style: italic;
}

selector:pseudo-class {
  property: value;
}

footer a:link {
	color: red;
}

footer a:visited {
  color: green;
}

footer a:hover {
  color: hotpink;
}
footer a:active {
	color: blue;
}

#red {
	text-decoration: underline;
	text-transform: uppercase;
	text-align: center;
	padding: 30px;
	text-shadow: 2px 2px 5px red;
}

#deadline {
	text-align: center;
	border: 15px solid red;
	width: 30%;
	margin: auto;
	font-weight: bold;
}

#deadline > ul {
	display: inline-block;
}

.rdcontent {
	font-family: "Times New Roman", Times, serif;
}

.rdcontent p {
	text-indent: 50px;
}

.rdcontent h4 {
	text-align: center;
}